body {
  font-family: "Hahmlet", serif;
  background-color: #f0e5de;
  color: #7c7877;
}

.clock-css {
  margin-top: 5px;
  margin-left: 5px;
  font-size: 60px;
}

.form,
.name {
  display: none;
  text-align: center;
  font-size: 35px;
}

.scheduleForm,
.scheduleList {
  text-align: center;
}

.nameForm,
.listForm {
  width: 250px;
  background: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid #7c7877;
}

.nameForm::placeholder,
.listForm::placeholder {
  color: #7c7877;
  font-size: 15px;
}

.show {
  display: block;
}

input:focus {
  outline: none;
}

.scheduleList-js {
  list-style: none;
}

.finishLine {
  text-decoration: line-through;
}

.listAlign {
  vertical-align: middle;
}

ul {
  list-style-type: none;
}

ul li span {
  position: relative;
  top: -4px;
  cursor: default;
}

.afterClickCheckBox::before {
  content: "check_box";
  font-family: "Material Icons";
}

.beforeClickCheckBox::before {
  content: "check_box_outline_blank";
  font-family: "Material Icons";
}

.material-icons-outlined {
  color: #7c7877;
}
