body {
  font-family: Georgia, "Times New Roman", Times, serif;
}

.form,
.name {
  display: none;
}

.show {
  display: block;
}

.scheduleList-js {
  list-style: none;
}

.finishLine {
  text-decoration: line-through;
}
